<div>
    <h2 id="page-heading">
        <span jhiTranslate="remanagementApp.tenant.home.title">Tenants</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tenant" [routerLink]="['/tenant/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="remanagementApp.tenant.home.createLabel">
            Create a new Tenant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tenants?.length === 0">
        <span jhiTranslate="remanagementApp.tenant.home.notFound">No tenants found</span>
    </div>
    <div class="table-responsive" *ngIf="tenants?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="qid"><span jhiTranslate="remanagementApp.tenant.qid">Qid</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="remanagementApp.tenant.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="arabicName"><span jhiTranslate="remanagementApp.tenant.arabicName">Arabic Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="telephone"><span jhiTranslate="remanagementApp.tenant.telephone">Telephone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="fax"><span jhiTranslate="remanagementApp.tenant.fax">Fax</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="mobile"><span jhiTranslate="remanagementApp.tenant.mobile">Mobile</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="remanagementApp.tenant.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="pobox"><span jhiTranslate="remanagementApp.tenant.pobox">Pobox</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tenant of tenants ;trackBy: trackId">
                <td><a [routerLink]="['/tenant', tenant.id, 'view' ]">{{tenant.id}}</a></td>
                <td>{{tenant.qid}}</td>
                <td>{{tenant.name}}</td>
                <td>{{tenant.arabicName}}</td>
                <td>{{tenant.telephone}}</td>
                <td>{{tenant.fax}}</td>
                <td>{{tenant.mobile}}</td>
                <td>{{tenant.email}}</td>
                <td>{{tenant.pobox}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tenant', tenant.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tenant', tenant.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tenant', { outlets: { popup: tenant.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="tenants?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
