<div>
    <h2 id="page-heading">
        <span jhiTranslate="remanagementApp.property.home.title">Properties</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-property" [routerLink]="['/property/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="remanagementApp.property.home.createLabel">
            Create a new Property
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="properties?.length === 0">
        <span jhiTranslate="remanagementApp.property.home.notFound">No properties found</span>
    </div>
    <div class="table-responsive" *ngIf="properties?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="remanagementApp.property.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="remanagementApp.property.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="number"><span jhiTranslate="remanagementApp.property.number">Number</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="type"><span jhiTranslate="remanagementApp.property.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="bedrooms"><span jhiTranslate="remanagementApp.property.bedrooms">Bedrooms</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="furnishing"><span jhiTranslate="remanagementApp.property.furnishing">Furnishing</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="electricity"><span jhiTranslate="remanagementApp.property.electricity">Electricity</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="water"><span jhiTranslate="remanagementApp.property.water">Water</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="parking"><span jhiTranslate="remanagementApp.property.parking">Parking</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="location.id"><span jhiTranslate="remanagementApp.property.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let property of properties ;trackBy: trackId">
                <td><a [routerLink]="['/property', property.id, 'view' ]">{{property.id}}</a></td>
                <td>{{property.code}}</td>
                <td>{{property.name}}</td>
                <td>{{property.number}}</td>
                <td jhiTranslate="{{'remanagementApp.UnitType.' + property.type}}">{{property.type}}</td>
                <td>{{property.bedrooms}}</td>
                <td jhiTranslate="{{'remanagementApp.Furnishing.' + property.furnishing}}">{{property.furnishing}}</td>
                <td>{{property.electricity}}</td>
                <td>{{property.water}}</td>
                <td>{{property.parking}}</td>
                <td>
                    <div *ngIf="property.location">
                        <a [routerLink]="['/location', property.location?.id, 'view' ]" >{{property.location?.building}},{{property.location?.zone}}{{property.location?.street}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/property', property.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/property', property.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/property', { outlets: { popup: property.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="properties?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
