<div>
    <h2 id="page-heading">
        <span jhiTranslate="remanagementApp.tenantContract.home.title">Tenant Contracts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-tenant-contract" [routerLink]="['/tenant-contract/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="remanagementApp.tenantContract.home.createLabel">
            Create a new Tenant Contract
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="tenantContracts?.length === 0">
        <span jhiTranslate="remanagementApp.tenantContract.home.notFound">No tenantContracts found</span>
    </div>
    <div class="table-responsive" *ngIf="tenantContracts?.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="remanagementApp.tenantContract.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="effectiveDate"><span jhiTranslate="remanagementApp.tenantContract.effectiveDate">Effective Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="startDate"><span jhiTranslate="remanagementApp.tenantContract.startDate">Start Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="endDate"><span jhiTranslate="remanagementApp.tenantContract.endDate">End Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="rent"><span jhiTranslate="remanagementApp.tenantContract.rent">Rent</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="deposit"><span jhiTranslate="remanagementApp.tenantContract.deposit">Deposit</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="utilities"><span jhiTranslate="remanagementApp.tenantContract.utilities">Utilities</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="contractDocument.id"><span jhiTranslate="remanagementApp.tenantContract.contractDocument">Contract Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tenantContract of tenantContracts ;trackBy: trackId">
                <td><a [routerLink]="['/tenant-contract', tenantContract.id, 'view' ]">{{tenantContract.id}}</a></td>
                <td>{{tenantContract.code}}</td>
                <td>{{tenantContract.effectiveDate | date:'medium'}}</td>
                <td>{{tenantContract.startDate | date:'medium'}}</td>
                <td>{{tenantContract.endDate | date:'medium'}}</td>
                <td>{{tenantContract.rent}}</td>
                <td>{{tenantContract.deposit}}</td>
                <td>{{tenantContract.utilities}}</td>
                <td>
                    <div *ngIf="tenantContract.contractDocument">
                        <a [routerLink]="['/contract-document', tenantContract.contractDocument?.id, 'view' ]" >{{tenantContract.contractDocument?.code}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/tenant-contract', tenantContract.id, 'download' ]"
                                class="btn btn-success btn-sm">
                            <fa-icon [icon]="'book'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.download">Download</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tenant-contract', tenantContract.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tenant-contract', tenantContract.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/tenant-contract', { outlets: { popup: tenantContract.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="tenantContracts?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
